.main_block_checkout {
    display: flex;
    justify-content: space-between;
    margin-bottom: 93px;
}

.sidebar_checkout {
    width: 100%;
}

.sidebar_cat {
    padding: 11px 0 14px 12px;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 19px;
    summary {
        color: #222222;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.checkout_box {
    display: flex;
    justify-content: space-between;
    h1 {
        color: #222222;
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
        padding-bottom: 15px;
    }
    p {
        color: #b3b2b2;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
    }
}

.checkout_01 {
    margin-top: 39px;
    margin-left: 35px;
    width: 570px;
    .checkout_radio {
        margin-top: 33px;
        margin-bottom: 33px;
        label {
            text-transform: uppercase;
            color: #222222;
            font-size: 12px;
            font-weight: 400;
            text-align: right;
        }
        .r_b1 {
            margin-bottom: 20px;
        }
        input {
            margin-right: 14px;
        }
    }
    .fast {
        border-bottom: none;
        padding-top: 33px;
        padding-left: 1px;
        margin-bottom: 10px;
    }
    .easy {
        border-bottom: none;
        padding-left: 1px;
        padding-top: 1px;
    }
}

.checkout_01 summary {
    color: #b3b2b2;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-transform: inherit;
}

.checkout_01 details[open] > summary::before {
    content: '\ab';
}

.checkout_01 summary:before {
    content: '\bb';
    left: 200px;
    color: #6f6e6e;
    padding-right: 4px;
}

.checkout_01 a {
    text-decoration: none;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    &:hover {
        color: #f16d7f;
        transition: color 1s linear;
    }
}

.checkout_02 a {
    text-decoration: none;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    &:hover {
        color: #f16d7f;
        transition: color 1s linear;
    }
}

.checkout_02 {
    width: 570px;
    margin-top: 39px;
    margin-left: 35px;
    .em_adress {
        margin-top: 27px;
        span {
            margin-left: 2px;
            color: #ff0d0d;
            font-size: 17px;
            font-weight: 400;
            line-height: 20px;
        }
        textarea {
            border: 1px solid #eaeaea;
            width: 390px;
            height: 45px;
            margin-bottom: 21px;
            padding: 5px 5px;
        }
        p {
            color: #ff0d0d;
            font-size: 13px;
            font-weight: 400;
            line-height: 20px;
        }
    }
}

.log_in {
    display: flex;
    p {
        margin-top: 50px;
        margin-left: 32px;
        color: #222222;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
}

.button_continue {
    border: 1px solid #eaeaea;
    width: 180px;
    height: 50px;
    text-align: center;
    padding: 14px 53px;
    margin-top: 38px;
    margin-bottom: 38px;
    &:hover {
        border: 1px solid #f16d7f;
        transition: border-color 1s linear;
    }
}
